extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'
  - var gh_pages = "https://semenov-vldr.github.io/test-project/"

  mixin link(href, name)
    a(href=gh_pages+href)= name

  //+link('about.html', 'О нас')

block content

  section
    include ../components/hero/hero
