.footer
  background-color: $frosted-top
  &__container
    padding: 40px 100px
    display: grid
    grid-template-columns: repeat(4, 1fr)
  &__logo
    grid-column: span 1
    display: flex
    flex-direction: column
    gap: 10px
    &-text
      font-size: 20px

  &-requisites
    grid-column: span 1
    grid-row: 2 / span 1
    color: #A8A8A8
    display: flex
    flex-direction: column
    gap: 28px

  &-nav__title
    font-size: 24px
    font-weight: 500
    margin-bottom: 12px

  &-nav
    padding: 0 40px

  &-nav__list
    display: flex
    flex-direction: column
    gap: 10px
    color: #A8A8A8

  &-nav--services
    grid-column: 2 / span 1

  &-nav--info
    grid-column: 2 / span 1
    grid-row: 2 / span 1

  &-nav--about
    grid-column: 3 / span 1

  &-nav--contact
    grid-column: 4 / span 1
    .footer-nav__list
      gap: 24px
      color: $white

